{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>

<script>

    $(document).ready(function () {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });

    });
</script>

{% endblock %}

{% block body %}

<h1>Sign up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/signup/create" id="formSignup">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required
            class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"
            class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="myInput" name="password" placeholder="Password" required class="form-control" /><br>
        <div class="form-control col-2">
            <input type="checkbox" onclick="myFunction()">
            <span class="ml-3">Show Password</span>
        </div>
    </div>

    <button type="submit" class="mt-1 btn btn-outline-primary">Sign up</button>

</form>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
</script>

{% endblock %}