{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<h1>Sign up</h1>

<p class="ml-3 mt-3">Thank you for signing up. Checkyour email to activate your account.</p>

<a href="/login" class="ml-3 mt-3">Proceed to login</a>

{% endblock %}