{% extends 'base.html' %}


{% block title %}Password Reset{% endblock %}

{% block body %}

<h1>Token invalid</h1>

<p>Password reset link invalid or expired click&nbsp;<a href="/password/forgot">here</a>&nbsp;to try again.</p>



{% endblock %}