{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

<h1>Log in</h1>

<form action="/login/create" method="post">

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}"
            class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="myInput" name="password" placeholder="Password" class="form-control" />
    </div>
    <div class="form-control col-2">
        <input type="checkbox" onclick="myFunction()">
        <span class="ml-3">Show Password</span>
    </div>
    <div class="form-control mt-3 col-2">
        <label>
            <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Remember me
        </label>
    </div>

    <button type="submit" class="btn btn-outline-primary mt-3">Log in</button>
    <a href="/password/forgot" class="mt-3 btn btn-outline-secondary">Forgot password?</a>

</form>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
</script>

{% endblock %}