<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                {% if current_user %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="/profile/show" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="bdy">


        {% for message in flash_messages %}
        <!-- <div class="alert"> -->
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    {% block footer %}
    {% endblock %}
</body>

</html>