{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>

  $(document).ready(function () {

    var userId = '{{ user.id }}';

    /**
     * Validate the form
     */
    $('#formProfile').validate({
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true,
          remote: {
            url: '/account/validate-email',
            data: {
              ignore_id: function () {
                return userId;
              }
            }
          }
        },
        password: {
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'email already taken'
        }
      }
    });


    /**
      * Show password toggle button
      */
  });
</script>

{% endblock %}

{% block body %}

<h1>Profile</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="post" id="formProfile" action="/profile/update">

  <div class="form-group">
    <label for="inputName">Name</label>
    <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"
      class="form-control" />
  </div>
  <label for="inputPassword">Password</label>
  <div class="form-group">
    <input type="password" id="myInput" name="password" placeholder="Leave blank to keep current password."
      aria-describedby="helpBlock" class="form-control" />

  </div>
  <div class="form-control col-2">
    <input type="checkbox" onclick="myFunction()">
    <span class="ml-3">Show Password</span>
  </div>


  <button type="submit" class="btn btn-outline-primary mt-3">&nbsp;Save&nbsp;</button>
  <a href="/profile/show" class="btn btn-outline-secondary mt-3">Cancel</a>

</form>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    }
    else {
      x.type = "password";
    }
  }
</script>

{% endblock %}