{%extends "base.html"%}
{%block title%}Profile{%endblock%}
{%block body%}
<h1>Profile</h1>
<div class="container">
  <dl class="row">

    <dt class="col-3">Name</dt>
    <dd class="col-6">{{ user.name }}</dd>
  </dl>
  <dl class="row">
    <dt class="col-3">email</dt>
    <dd class="col-6">{{ user.email }}</dd>

  </dl>
  <a href="/profile/edit" class=" mt-3 btn btn-outline-primary col-1">Edit</a>
</div>

{%endblock%}